/* You can add global styles to this file, and also import other style files */

@import "../../../colors";

.botonesControl {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
  width: calc(100vw - 40px);

  -webkit-app-region:drag;
}

.botones {
  z-index: 1;
  order: 0;
  flex: 0 0 auto;
  align-self: flex-end;
  margin: 4px 0px 1px 0px;
}

.plantilla{
  width: 100vw;
  height: 100vh;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  min-height: 770px;
  padding-top: 0px;
  box-sizing: border-box;
  background-image: url("../../../assets/Images/fondogris.png");

}
.padre{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: calc(100vw - 40px);
}

.header{
  order: 0;
  flex: 0 0 auto;
  align-self: stretch;
  width: auto;
  width:100%;
}

.articulo
{
  order: 1;
  flex: 1 0 auto;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  width: calc(100vw - 32px);
  height: calc(100vh - 120px);
  background: #292929;
}

.auxAside
{
  .asideNormal{
    order: 0;
    flex: 0 0 auto;
    align-self: stretch;
    min-width: 181px;
    width: 181px;
    height: 100%;
    overflow-y: scroll;
    & > .botonera{
        width: 181px;
        background-color: #292929;
        float:left;
        flex: 1 0 auto;
        display: flex;
      }
  }

  > .asideOcultar{
      animation-name: ocultarBotonera;
      animation-duration: 1s;
      transition: 1s ease-in-out;
      animation-fill-mode: forwards;
      box-sizing: border-box;
      min-width: 0px;
      width: 0px;
      & >.botonera{
        width: 0px;
      }
    }

  > .asideMostrar{
    order: 0;
    flex: 0 0 auto;
    align-self: stretch;
    animation-name: mostrarBotonera;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    box-sizing: border-box;
    overflow-y: scroll;
    & >.botonera{
      width: 181px;
      background-color: #292929;
      float:left;
      flex: 1 0 auto;
      display: flex;
    }
  }

  @keyframes ocultarBotonera {
    from {width: 181px;}
    to {width: 0px;}
  }

  @keyframes mostrarBotonera {
    from {width: 0px;}
    to {width: 181px;}
  }
}



.fondoBlanco{
  background-color: $pqBlanco;
  width: 101%;
  height: 102%;
  left: 0px;
  top: 0px;
  right: 0px;
}

.btn{
  height: 21.7px;
  width: 22px;
  padding: 3px;
  cursor: pointer;
}

.outlet
{
  order: 1;
  flex: 1 0 auto;
  //align-self: stretch;
  height: 100%;
  width: calc(86% - 181px);
  background: #FFFFFF;
}

.footer{
  order: 2;
  flex: 0 0 auto;
  align-self: stretch;
  height: 26px;
  max-height: 28px;
  width: 100%;
  border: 1px linear-gradient(0deg, #C9C9C9 0%, #E5E5E5 40%, #F8F8F8 90%);
}

.pendientes{
  color:$pqNegro;
  background-color: $pqVerdeProquifa;
  height: 34px;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.articulo, .izquierda, .footer, .aside{
  flex-grow:1;
  flex-basis:100%;
  flex-wrap: nowrap;
}

@media all and (min-width: 1368px) and (min-height:770px){
  .aside{flex: 0 1 auto;}
}

@media all and (min-width: 1368px) and (min-height:770px){
  .articulo{flex:3 0;}
  .asideNormal{order: 1;}
  .articulo{order: 2;}
  .footer{order: 3;}
}

.header{background-image: linear-gradient(0deg, #C9C9C9 0%, #E5E5E5 40%, #F8F8F8 100%);}
.articulo{background:#292929; height: calc(100vh - 130px); width: 100%; }
.asideNormal{background: $pqNegroTenue;}
.aside{background: $pqNegroTenue; height: calc(100vh - 130px);}
.footer{background-image: linear-gradient(0deg, #C9C9C9 0%, #E5E5E5 40%, #F8F8F8 100%);}
.pendientes{background: $pqVerdeProquifa;}


.container{
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  background: rgba(204, 209, 209, .6);
  z-index:99999;
  margin:auto;
  top:0;
  bottom:0;
  left:0;

  right:0;

  .loading {
    width: 460px;
    height: 240px;
    background: rgba(255, 255, 255, 0);
    padding: 20px;
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
  }

}
