@import "./../../../../../mixins";

.informacionOE{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  padding: 0px 20px 10px 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.encabezadoInformacionOE{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: 100%;
  width: 100%;
  // border: 2px solid;
  max-height: 36px;
  min-height: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  & > h1{
    font-size: 22px;
    color: #008895;
  }
}

.contenidoInformacionOE {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    height: 100%;
    width: 100%;
    // border: 2px solid;

    }

.cliente {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    height: 100%;
    width: 100%;
    // border: 2px solid;
    font-size: 18px;
    color: #424242;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 500;
    max-height: 38px;
    min-height: 50px;
    }

.usuario{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: 100%;
    width: 100%;
    // border: 2px solid;
    font-size: 16px;
    color: #424242;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-height: 40px;
    min-height: 40px;
    }

.ruta {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    height: 100%;
    width: 100%;
    // border: 2px solid;
    font-size: 18px;
    color: #424242;;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-height: 35px;
    }
.etiquetaEntrega{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #67A640;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-height: 30px;
  min-height: 30px;
}
.esac{
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  color: #008895;;

  & > label{
    font-weight: 400 !important;
  }
}
