<div id="popUp" class="popUp" *ngIf="popUpCerrar">
  <div class="fondo"></div>
  <div class="popContenido">
    <div class="popHeader">
      <span>PROQUIFA NET</span>
    </div>
    <div class="popContenido">
      <div class="alerta" *ngIf="imagen">
        <img src="assets/Images/flecha_blanca_encirculoverde.svg" alt="" class="alert" />
      </div>
      <label [style.padding-top]="imagen?'15px':'80px'">
        {{label}}
      </label>
    </div>
    <div class="dvBotones">
      <div class="dvBoton" (click)="cerrar()">
        <label>Aceptar</label>
      </div>
    </div>
  </div>
</div>


