<div style="display:flex;flex-wrap: wrap;  height: 100%; margin-top: 20px;justify-content: center;">

  <div style="width:30%;height:30%;  min-width: 82px; min-height: 15vh ">
      <div style="width:100%;height: 15%;display: flex;justify-content: center;align-content: center; ">NI POR COBRAR</div>
      <div class="datosGrafica1">
          <div>Total: </div>
          <div>Monto: </div>
          <div>Clientes: </div>
          <div>Cobros: </div>
          <div>Partidas: </div>
          <div>Piezas: </div>
        </div>
       <!--  <div style="display:none;color:#424242; position:absolute; width: 23%; background: transparent;opacity: 1; min-width: 82px;  min-height: 81.5px; font-size: 12px;height: 26%;border-radius: 50px" class="flexCenter ">
       <div class="flexCenter" style="width: 100%">
             Total
          </div> 
          <div class="flexCenter" style="width: 100%">
         Monto: $
             </div>
             <div class="flexCenter" style="width: 100%">
                    Compras: 
                 </div>
                 <div class="flexCenter" style="width: 100%">
                         Partidas:
                     </div>
                     <div class="flexCenter" style="width: 100%">
                         Piezas:
                         </div>
         </div>-->
    <div class="grafica">
      <canvas id="doughnut1"></canvas>
    </div>
  </div>
  <div style="width:30%;height:30%;   min-width: 82px;  min-height: 15vh ">
    <div style="width:100%;height: 15%;display: flex;justify-content: center;align-content: center; ">C. PAGO POR COBRAR</div>

    <div class="grafica">
     
      <canvas id="doughnut2">
         
      </canvas>
    </div>
  </div>

  <div style="width:30%;height:30%;   min-width: 82px;  min-height: 15vh ">
    <div style="width:100%;height: 15%;display: flex;justify-content: center;align-content: center;">ABIERTO VS CERRADO</div>

    <div class="grafica">
      <canvas id="doughnut3"></canvas>
    </div>
  </div>


  <div style="width:30%;height:30%;  min-width: 82px;  min-height: 15vh ">
    <div style="width:100%;height: 15%;display: flex;justify-content: center;align-content: center;">PROGRAMADO VS POR PROGRAMAR</div>
 
    <div class="grafica">
      <canvas id="doughnut4"></canvas>
    </div>
  </div>


  <div style="width:30%;height:30%;  min-width: 82px;  min-height: 15vh ">
    <div style="width:100%;height: 15%;display: flex;justify-content: center;align-content: center; ">NI COBRADO</div>
 
    <div class="grafica">
      <canvas id="doughnut5"></canvas>
    </div>
  </div>

  <div style="width:30%;height:30%;  min-width: 82px;  min-height: 15vh ">
    <div style="width:100%;height: 15%;display: flex;justify-content: center;align-content: center;">C. PAGO COBRADO</div>
  
    <div class="grafica">
      <canvas id="doughnut6"></canvas>
    </div>
  </div>


  <div style="width:30%;height:30%;  min-width: 82px;  min-height: 15vh ">
    <div style="width:100%;height: 15%;display: flex;justify-content: center;align-content: center; ">DÍAS RESTANTES DE CRÉDITO</div>
 
    <div class="grafica">
      <canvas id="doughnut7"></canvas>
    </div>
  </div>
  <div style="width:30%;height:30%;  min-width: 82px;  min-height: 15vh ">
    <div style="width:100%;height: 15%;display: flex;justify-content: center;align-content: center;">MEDIO DE PAGO PROGRAMADO</div>

    <div class="grafica">
      <canvas id="doughnut8"></canvas>
    </div>
  </div>

  <div style="width:30%;height:30%;  min-width: 82px;  min-height: 15vh ">
    <div style="width:100%;height: 15%;display: flex;justify-content: center;align-content: center; ">ET</div>

    <div class="grafica">
      <canvas id="doughnut9"></canvas>
    </div>
  </div>

</div>
