<div style="flex-direction: row;height: 30px; display:flex; min-width:300px; padding-left: 103px;padding-left: 40px;" class="content">
    <div class="boton_file">
        <a *ngIf="fileName == ''">
            <label style="padding-left: 20px;" ; class="doc" for="fileInput">{{nombreArchivo}}</label>
        </a>
        <a *ngIf="fileName != ''">
            <label [ngStyle]="{'width':'calc(100% - 5px )','height':'12px'}">{{nombreArchivo}} </label>
        </a>
        <input [disabled]="!disabled" *ngIf="fileName == ''" #fileInput type="file" id="fileInput" (change)="fileChange2($event)" accept="{{formato}}" #cursorPointer class="upload">
        <input *ngIf="fileName != ''" #fileInput type="file" id="fileInput" (change)="fileChange2($event)" accept="{{formato}}" class="uploadC">
    </div>
    <img *ngIf="fileName != ''" for="file" src="./assets/Images/editar-pieza/ojito.svg" alt="" style="margin-left:2px; width:30px; height:30px; cursor:pointer " (click)="metodoMostrarSeleccion(fileName,paqDistinta)">

    <!-- <div *ngIf="paqDistinta">

        <img *ngIf="fileName != ''" for="file" src="./assets/Images/editar-pieza/ojito.svg" alt="" style="margin-left:2px; width:30px; height:30px; cursor:pointer " (click)="metodoMostrarSeleccion(fileName,paqDistinta)">

    </div> -->

</div>