<!-- <button type="button" class="btnControlPrincipal" onclick="document.getElementById('id01').style.display='block'">btn</button> -->

<!--<img class="barra" src='./assets/Images/Images/Recurso 266100.svg' class="btnControlPrincipal" onclick="document.getElementById('pop-inf').style.display='flex'" />-->

<!-- <img src="./assets/Images/editar-pieza/cargar.svg" alt="" style="width:30px; height:30px; cursor:pointer;" onclick="document.getElementById('pop-inf').style.display='block'" > -->
<div class="w3-container">
    <!--DIV INICIAL-->
    <div id="pop-inf" class="modal" #pop>
        <div class="modal-content">
            <header class="header">
                AMBIENTE
                <!-- <img src="./assets/Images/Images/cerrar_blanco.svg" alt="cerrar" (click)="cerrar()"> -->

            </header>

            <div class="contenido">
                <div class="datos">

                    <p><label> Localizando número de rastreo</label></p>

                </div>

            </div>

            <div class="footer">
                <div type="submit" class="btnOk" (click)="cerrar()"><label>OK</label></div>


            </div>
        </div>
    </div>
    <!--FIN DIV INICIO-->

</div>