<div class="vistaEmbalarProductos">
<div>
  <pq-productos-por-embalar (activarPopImprimir)="activarPopImp($event)" [validarPakingList]="activarPaking"  (emitActivarPopExi)="activarVistaPack($event)" [desactivarBtn]="desactivarBtn" [datosClienteP]="datosCliente" (emitEventColectar)= "recibirTipoEmbajale($event)" (emitEventValidarBotonGenerar)= "recibirValorB($event)" [datosPorEstado] = "listaTotales" [mostrarVistaLista]="vistaEmbalar"  (emitEvent)= "recibirFD($event)" (emitEventPiezas)= "recibirDatosPakingList($event)" (emitEventScanear)="recibirManejoScanear($event)" [folioPakingList]="folio" (activarBtnMas)="activarBtnMas($event)" [enviarInfo]="activarEnviarInfo" [estadoVista]="estadoVistaUsuario" [activarFocus]="activarFocus" [nombreV]="nombreVideo" (piezasFaltantes)="sobrantes($event)"></pq-productos-por-embalar>
</div>

<!-- Vista Iniciar grabacion -->
<div class="iniciarEmbalaje" *ngIf="vistaVideo">
  <div class="enfoqueSuperior" style="width:100%; flex-direction:row; justify-content:space-between">
    <img src="./assets/Images/Images/Sup_Izq.svg" alt="" class="imgEnfoque">
    <img src="./assets/Images/Images/Sup_Der.svg" alt="" class="imgEnfoque">
 </div>
    <div class="grabar">
      <!-- <div class="iniciarInspeccion"> -->
      <div class="titulo">
        <h1 style="font-family: Novecento-Demibold">INICIAR EMBALAJE</h1>
      </div>

      <div class="boton">
        <!--<button type="button" name="button" (click)="quitarVistaVideo()" class="btnGrabar">GRABAR</button>
        <img src="./assets/Images/Images/FlechaDerBlanca.svg">-->
        <div (click)="quitarVistaVideo()" class="btnGrabar">
          <div style="display: flex;padding-right: 15px">
          <label style="font-family: Novecento-Bold;display: contents;">Iniciar  </label>
          </div>
          <div>
          <label class="up"> </label>
          </div>
        </div>
      </div>
    </div>

    <div class="enfoqueInferior" style="width:100%;flex-direction:row; justify-content:space-between; align-items: flex-end;">
      <img src="./assets/Images/Images/Inf_Izq.svg" alt="" class="imgEnfoque">
      <img src="./assets/Images/Images/Inf_Der.svg" alt="" class="imgEnfoque">
    </div>
</div>
<!-- FIN Vista Iniciar grabacion -->
<div class="vistaOPeracionEmbalar"  [style.opacity]="vistaEmbalar?'1':'0'" [style.display]="vistaEmbalar?'flex':'none'">
<!--  <div class="EscaneaCodigo">
    <pq-escanear-codigo-embalaje (emitEvent)= "recibirFD($event)"  [valorRecibidoEmbalaje] ="recibirValorEmbajale">  </pq-escanear-codigo-embalaje>
  </div>-->

  <div class="seccionFD">
    <pq-fd-embalaje (desactivarBoton)="enviarBtnDesactivo($event)" [comentarios]="comentariosEntrega" [valorRecibidoFD] ="recibirValorFD" [valorRecibidoEmbalajeFD] = "recibirValorEmbajale" (tipoManejo)="agregarPaquete($event)" [folioPaquete] = "folio" [activarBotonM]="openBtnMas"></pq-fd-embalaje>
  </div>

  <div class="seccionPackingList">
    <div class="video">
      <div class="enfoqueSuperior" style="width:100%; flex-direction:row; justify-content:space-between">
        <img src="./assets/Images/Images/Sup_Izq.svg" alt="" class="imgEnfoque">
        <img src="./assets/Images/Images/Sup_Der.svg" alt="" class="imgEnfoque">
      </div>
      <!--<pq-grabacion-video style="width:94%;height: 93%;"></pq-grabacion-video-->
       <!-- <video  width="94" height="93" src="./assets/Images/GLI-112818-1291.webm">
        </video>-->
      <div *ngIf="mensajeVideo" style="color: #D8D9DD; background-color: #F3F3F4;height: 100%; width: 90%">
        <p class="p">VIDEO</p>
        <p class="p">NO DISPONIBLE</p>
      </div>
      <video href="path" autoplay height="100%" *ngIf="videoValido" #video style="max-width:330px;">
      </video>
      <div class="enfoqueInferior" style="width:100%;flex-direction:row; justify-content:space-between; align-items: flex-end;">
        <img src="./assets/Images/Images/Inf_Izq.svg" alt="" class="imgEnfoque">
        <img src="./assets/Images/Images/Inf_Der.svg" alt="" class="imgEnfoque">
      </div>
    </div>

    <div class="packingList">
      <pq-packing-list-embalaje [recibirDatos] = "listaPaking" (activarBoton)="activacionBoton($event)"></pq-packing-list-embalaje>
    </div>

  </div>
</div>
  <!--SECCIÓN DE LOS POP-UP-->
  <div *ngIf="vistaEtiquetaPoP">
    <!--<pn-pop-up-informativo  (vistaPopEstado)="mostrarModalEtiqueta($event)" ></pn-pop-up-informativo>-->
    <pn-pop-up-informativo  (vistaListaEmbalar)="mostrarListaEmbalar($event)" [tipoMensaje]="tipo"></pn-pop-up-informativo>
  </div>
  <!--Se muestra la etiqueta de se ha generado en sobre-->
  <div *ngIf="vistaEtiquetaPoPGene">
    <pn-pop-up-informativo [activarGenerar]="botonGenerar" (cambiarVistaGenerar)="enviarDatosVisOper($event)"></pn-pop-up-informativo>
  </div>
  <!--Modal para las hieleras y bolsas-->
  <div *ngIf="openModal">
    <pn-pop-up-generar-etiqueta-estado [datosCliente]="datosClient" [activarSobre]="false" (vistaPopEstado)="mostrarModalEtiqueta($event)"(folio)="recibirFolio($event)"  [recibirManejo]="manejoAScanear" [valorIndice]="i" [folioTemHie]="folioHielera"></pn-pop-up-generar-etiqueta-estado>
  </div>
  <!--Se imprimi la etiqueta del sobre de documentos-->
  <div *ngIf="cambiarImpresion">
    <pn-pop-up-generar-etiqueta-estado [activarSobre]="true" [datosCliente]="datosClient" (vistaPopEstado)="mostrarModalEtiquetaCamGenerar($event)"(folio)="recibirFolio($event)"  [recibirManejo]="manejoAScanear" [valorIndice]="i" [folioTemHie]="folioHielera"></pn-pop-up-generar-etiqueta-estado>
  </div>
  <!--Se imprimi la etiqueta de la bolsa-->
  <div *ngIf="etiquetaBolsa">
    <pn-pop-up-generar-etiqueta-estado [datosCliente]="datosClient" [activarBolsa]="true" (terminarGenerar)="mostrarEtiquetaBolsa($event)"(folio)="recibirFolio($event)"  [recibirManejo]="manejoAScanear" [valorIndice]="i" [folioTemHie]="folioHielera"></pn-pop-up-generar-etiqueta-estado>
  </div>
  <!--Se muestra la etiqueta de la bolsa -->
  <div *ngIf="vistaEtiquetaPoPBolsa">
    <pn-pop-up-informativo [activarBolsa]="true" [activarGenerar]="false" (cambiarVistaGenerar)="enviarDatosVisOper($event)"></pn-pop-up-informativo>
  </div>
  <div *ngIf="popScaner">
    <pn-pop-up-scanear (vistaListaEmbalar)="mostrarListaEmbalar($event)" [valScaner]="false" [mensaje]="'Escanea el siguiente QR, por trabajar'" [recibirManejo]="manejoAScanear" (envioFolio)="recibirFolio($event)"></pn-pop-up-scanear>
  </div>
</div>
