@import "./../../../../mixins.scss";
@import "../../../../colors.scss";
.areaPrincipal{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding-left: 22px;
  padding-right: 22px;
  flex-direction: column;
  min-width: 1431px;
  min-height: 988px;
}
.botonera{
  height: 15%;
  display: flex;
  width: 100%;
}

.seccion{
  height: 85%;
  // background: antiquewhite;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.primerSeccion{
  width: 40%;
  // background: black;
  height: 100%;
}

.segundaSeccion{
  width: 30%;
  // background: aquamarine;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.organizarLista{
  width: 100%;
  display: flex;
  // flex-direction: row;
  padding-top: 10px;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  height: 33.3%;
}

.subtitulo{
  // padding-left: 30px;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
}
.tituloLista{
  font-size: 24px;
  font-family: Novecento;
  font-weight: bold;
}
.numeroIndex{
  font-size: 28px;
  font-family: Roboto-Regular;
  text-align: left;
  width: 10%;
  padding-right: 10px;
  display: flex;
  box-sizing: border-box;
  padding-top: 4px;
  flex-direction: column;
  justify-content: center;
  & label {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    color: #424242;
    text-align: left;
  }
}
.informacionList{
  font-family: Roboto;
  width: 80%;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  label{
    color: #42423E;
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto;
    line-height: 1;
  }
  h3{
    line-height: 1.5;
    margin-top: 4px;
    font-weight: 400;
    font-family: Roboto-Regular;
    font-size: 17px;
    color: #848387;
    text-align: left;
  }
}
.imgFlecha{
  width: 17.9px;
  height: 27.4px;
}
.listaProd{
  width: 30%;
  background: #FFFFFF;
  height: 100%;
  min-width: 396px;
  padding-left: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
}
.infoLista{
  height: 10%;
  padding-top: 15px;
  width: 95%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.totales{
  height: 5%;
  box-sizing: border-box;
  justify-content: space-around;
  width: 95%;
  display: flex;
  padding-top: 5px;
}
.titulosLista{
  height: 15%;
  padding-top: 15px;
  width: 95%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: 15px;
  min-height: 90px;
}
.abreviaciones{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  border-top: 2px solid #424242;
}
/******/
.menu {
  position: relative;
}

.menu:HOVER {
  cursor: pointer;
}

.menu > div {
  width: 20px;
  height: 2px;
  background: #000000;
  margin: 5px;
}

section {
  position: absolute;
  visibility: hidden;
  height: 0;
}

section.visible {
  visibility: visible;
  height: 120px;
  overflow: auto;
  width: 219px;
  background: #FFFFFF;
  z-index: 2;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #ECEEF0;
  border-top: 1px solid #ECEEF0;
  border-left: 1px solid #ECEEF0;
  border-right: 1px solid #ECEEF0;
}
.listaHamburguesa{
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  > li{
    display: flex;
    box-sizing: border-box;
    border-bottom: 0.5px solid #ECEEF0;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  > li:hover{
    background-color: #ECEEF0;

  }
}
.segundaSeccionList{
  height: 80%;
  display: flex;
  border-bottom: 1px solid;
  width: 95%;
  border-top: 1px solid;
  overflow: auto;
}
.tituloCliente{
  width: 100%;
  height: 33%;
  position: relative;
  display: flex;
  padding-bottom: 5px;
}
.cabeceraCliente{
  position: relative;
  display: flex;
  width: 55%;
  justify-content: flex-end;
  color: #008894;
  font-family: Roboto;
  font-weight: bold;
  font-size: 28px;
  padding-right: 19.2px;
}
.buscar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  border-style: solid;
  div {
    display: flex;
    flex-direction: row;
    width: 249px;
    border-radius: 102px 102px 102px 102px;
    -moz-border-radius: 102px 102px 102px 102px;
    -webkit-border-radius: 102px 102px 102px 102px;
    border: 0.5px solid #BFC0C7;
    height: 26px;
    div {
      border: none;
      border-radius: 0px 0px 0px 0px;
      -moz-border-radius: 0px 0px 0px 0px;
      -webkit-border-radius: 0px 0px 0px 0px;
      border: 0px solid #000000;
      width: 40px;
      background: transparent;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    .buscar-input {
      cursor: pointer;
      background: transparent;
      border-radius: 100px;
      -moz-border-radius: 102px 102px 102px 102px;
      border: 0px solid #000000;
      width: 100%;
      font-family: Helvetica;
      font-size: 18px;
      color: #AAA9AF;
      outline: none;
    ;
      padding-left: 5px;
    }
  }
}
.barraBusqueda {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.borderLine{
  width: 1.1px;
  height: 100%;
  background: linear-gradient(to top, #FFFFFF 2%, #BCBCBC 70%, #FFFFFF 93%) 100%;
}
.tituloBanco{
  width: 100%;
  height: 8.5%;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #424242;
  flex-direction: column;
}
.lista {
  width: 100%;
  min-height: 80px;
  font-size: 20px;
  padding: 15px 19px 14px 13px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 1.3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;

  &> .index {
    order: 0;
    align-self: auto;
    height: 52px;
  }
  flex: 0 1 auto;

  &> .datosLst {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    &> p{
      font-weight: normal;
    }
  }
  div:hover {
    background-color: #ECEEF0;
  }
  >.divActual {
    background-color: #ECEEF0;
    box-shadow: 0 2px 4px -3px #008895;
  }
  >.divActive {
    .dfSelect {
      background: #008895 !important;
      width: 5px !important;
      color: #008895;
    }
    .datosLst{
      h3{
        line-height: 1.5;
        margin-top: 4px;
        font-weight: 400;
        font-family: Roboto-Regular;
        font-size: 17px;
        color: #848387;
        text-align: left;
      }

    }
    background-color:#ECEEF0;
  ;
  }
}
.rfc{
  font-family: Roboto;
  color: #424242;
  font-size: 18px;
  font-weight: 400;
}
.tipoBanco{
  font-family: Roboto;
  font-size: 20px;
  color: #008894;
  text-align: left;
  font-weight: bold;
}
.cabeceraRb{
  font-family: Novecento;
  font-weight: bold;
  font-size: 24px;
  color: #424242;
  text-align: left;
  display: flex;
  padding-left: 5px;
}
.tituloBlanSeccion{
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
}

.espacio{
  display: flex;
  padding-left: 5px;
  font-weight: 400;
  font-family: Roboto-Regular;
  font-size: 17px;
  color: #848387;
  text-align: left;
}

.secciones{
  height: 50%;
  width: 100%;
  display: flex;
}
.facturas{
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.facList{
  font-family: Roboto;
  font-weight: bold;
  font-size: 17px;
  color: #424242;
  text-align: left;
}
.facFechas{
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  color: #424242;
  text-align: left;
  line-height: 1.5;
}
.monto{
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  color: #424242;
  text-align: left;
  & .cant{
    font-weight: bold;
    font-size: 19px;
    color: #008894;
  }
}

.totalesFacturas{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Roboto;
  font-weight: 300;
  font-size: 17px;
  color: #424242;
  text-align: left;
  & div{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    color: #848387;
    text-align: right;
  }
}
.totalesFinales{
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6;
  & div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & > label{
      font-family: Roboto;
      font-weight: 400;
      font-size: 21px;
      color: #424242;
      text-align: left;
    }
  }
}
.btn{
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  & div{
    display: flex;
    background-color: #008894;
    width: 170px;
    height: 30px;
    justify-content: center;
    align-content: center;
    align-items: center;
    & > label {
      ont-family: Novecento;
      font-weight: bold;
      font-size: 21px;
      color: #FFFFFF;
      text-align: left;
      align-items: center;
    }
  }
}
.img{
  width: 23px;
  height: 23px;
}
.componmentBtn{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
