.video1 {
  box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
  height: 98%;
  width: 98%;
  // display: none; //Sirve para que no se vea que se esta grabando.
}

.row {
  // margin-bottom: 20px;
}

.botton {
  width: 100px;
  height: 30px;
  background-color: red;
  border:none;
  color:white;
}
