@import "../../../../mixins.scss";
@import "../../../../colors.scss";

:host{
  width: 100%;
  height: 100%;

  $grayColor:$gnGrisRata;
  $blueColor:$gnAzulMedio;

  & > .dropList{
    width:100%;
    padding:0;
    position:relative;
    display: inline-block;
    & > .container-drop{
      width:100%;
      padding:0;
      position:relative;
      & > .Title{
        @include flexRow;
        justify-content: space-between;
        width:100%;
        height:30px;
        color:$pqNegro;
        box-sizing: border-box;
        border: 1px solid #ECEEF0;
        font-size: 18px;
        & > p{
          @include flexRow;
          @include absoluteCenter;
          font-family: 'Roboto';
          font-weight: lighter;
          font-size: 18px;
          padding-left: 6px;
        }
        & > img{
          width: 36px;
          height: 17px;
          top: 5px;
          position: relative;
          padding-left: 10px;
        }
        & > .left{
          @include flexRow;
          @include absoluteCenter;
          width: 100%;
          text-align: left ;
          justify-content: flex-start;
        }
        & > i{
          @include flexRow;
          @include absoluteCenter;
          color:lightblue;
        }

      }
      & > .Title.Disabled{
        pointer-events: none;
        @include flexRow;
        justify-content: space-between;
        width:100%;
        height:30px;
        box-sizing: border-box;
        border-bottom: 0.75px solid $grayColor;
        & > p{
          @include flexRow;
          @include absoluteCenter;
          font-family: 'Roboto';
          font-weight: lighter;
          font-size: 18px;
        }
        & > i{
          @include flexRow;
          @include absoluteCenter;
          color:lightgray;
        }

      }

      & > .content{
        width:100%;
        max-height: 200px;
        top:30px;
        background-color: white;
        //border-radius: 0 0 5px 5px;
        border:1px solid $gnInactivo;
        position:absolute;
        z-index:100;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: all 1s;
        & > .triangulo{
          width:0px;
          height:0px;
          border-left:8px solid transparent; /* izquierda flecha */
          border-right:8px solid transparent; /* derecha flecha */
          border-bottom:8px solid $gnInactivo; /* base flecha y color*/
          font-size:0px;
          line-height:0px;
          position: relative;
          left: 0;
          top: -9px;
          right: 0;
          margin: auto;
          bottom: 0;
        }
        & > .triangulo2{
          width:0px;
          height:0px;
          border-left:8px solid transparent; /* izquierda flecha */
          border-right:8px solid transparent; /* derecha flecha */
          border-bottom:8px solid white; /* base flecha y color*/
          font-size:0px;
          line-height:0px;
          bottom:6px;
          position: relative;
          left: 0;
          top: -15px;
          margin: auto;
          right: 0;
          bottom: 0;
        }
        & > .search{
          padding:10px 20px 10px 20px;
        }
        .lista{
          @include windowsScrollbars('none');
          max-height: 125px;
          margin:5px 15px 10px 15px;
          overflow: scroll;
          & > li{
            @include flexRow;
            height:35px;
            border-bottom: solid 0.75px $grisLinea !important;
            transition: .5s all;
            color:$pqNegro;
            cursor: pointer;
            font-size: 18px;
            font-family: 'Roboto';
            font-weight: lighter;
            font-weight: 300;
            padding: 0px 5px;
            @include multiLineTextTruncate(1,25px,25px,#FFF);
            word-break: break-all;
            box-sizing: border-box;
            &:hover{
              font-size: 18px;
              color:$pqPanelTitulo;
              font-weight: 300;
            }
          }

          & > .category{
            pointer-events: none;
            color:$gnInactivo;
            font-size: 1em;
            cursor: none;
            left: -5px;
            padding: 0px 0px;
          }
        }
        /* ul::-webkit-scrollbar-track
        {
          border-radius: 10px;
          background-color: rgba(0, 113, 188, 0.05);
        }

        ul::-webkit-scrollbar
        {
          width: 8px;
          background-color: #F5F5F5;
        }

        ul::-webkit-scrollbar-thumb
        {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
          background-color: $pf_buttonBlue_base;
        } */
        & > .button{

          /* @include pfButton(100%, 30px, $pf_buttonBlue_base, $pf_buttonBlue_hover, $pf_buttonBlue_active); */
          @include absoluteCenter;
          @include flexRow;
          margin-top:20px;
          border-radius:0 0 5px 5px !important;
        }
      }
    }
  }
  & > .dropListSelect{
    width:100%;
    padding:0;
    position:relative;
    display: inline-block;
    & > .container-drop{
      width:100%;
      padding:0;
      position:relative;
      & > .Title{
        @include flexRow;
        width:100%;
        height:30px;
        color: $pqNegro;
        justify-content: space-between;
        box-sizing: border-box;
        border: 1px solid #ECEEF0;
        font-size: 18px;
        & > p{
          @include flexRow;
          @include absoluteCenter;
          font-family: 'Roboto';
          font-weight: lighter;
          font-size: 18px;
          padding-left: 6px;
        }
        & > img{
          width: 36px;
          height: 17px;
          top: 5px;
          position: relative;
          padding-left: 10px;
        }
        & > .left{
          @include flexRow;
          @include absoluteCenter;
          width: 100%;
          text-align: left ;
          justify-content: flex-start;
        }
        & > i{
          @include flexRow;
          @include absoluteCenter;
          color:lightblue;
        }

      }
      & > .Title.Disabled{
        pointer-events: none;
        @include flexRow;
        justify-content: space-between;
        width:100%;
        height:30px;
        box-sizing: border-box;
        border-bottom: 0.75px solid $grayColor;
        font-size: 18px;
        & > p{
          @include flexRow;
          @include absoluteCenter;
          font-family: 'Roboto';
          font-weight: lighter;
          font-size: 18px;

        }
        & > i{
          @include flexRow;
          @include absoluteCenter;
          color:lightgray;
        }

      }

      & > .content{
        width:100%;
        max-height: 200px;
        top:30px;
        background-color: white;
        border:1px solid $gnInactivo;
        //border-radius: 0 0 5px 5px;
        position:absolute;
        z-index:100;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: all 1s;
        & > .triangulo{
          width:0px;
          height:0px;
          border-left:8px solid transparent; /* izquierda flecha */
          border-right:8px solid transparent; /* derecha flecha */
          border-bottom:8px solid $gnInactivo; /* base flecha y color*/
          font-size:0px;
          line-height:0px;
          position: relative;
          left: 50%;
          top:-8px;
        }
        & > .small{
          left: 40%;
        }
        & > .triangulo2{
          width:0px;
          height:0px;
          border-left:8px solid transparent; /* izquierda flecha */
          border-right:8px solid transparent; /* derecha flecha */
          border-bottom:8px solid white; /* base flecha y color*/
          font-size:0px;
          line-height:0px;
          position: relative;

          left: 52.2%;
          top: -7px;
          margin: -7px;
        }
        & > .search{
          padding:10px 20px 10px 20px;
        }
        .lista{
          @include windowsScrollbars('none');
          max-height: 125px;
          margin:5px 15px 10px 15px;
          overflow: scroll;
          & > li{
            @include flexRow;
            color:$pqNegro;
            height:32px;
            border-bottom: solid 0.75px $grisLinea !important;
            transition: .5s all;
            cursor: pointer;
            font-size: 18px;
            font-family: 'Roboto';
            font-weight: lighter;
            font-weight: 300;
            @include multiLineTextTruncate(1,1.8em,1.8em,#FFF);
            word-break: break-all;


            &:hover{
              font-size: 18px;
              color:$pqPanelTitulo;
              font-weight: 300;
            }
          }
          & > .category{
            pointer-events: none;
            color:$gnInactivo;
            font-size: 1em;
          }
        }
        /* ul::-webkit-scrollbar-track
        {
          border-radius: 10px;
          background-color: rgba(0, 113, 188, 0.05);
        }

        ul::-webkit-scrollbar
        {
          width: 8px;
          background-color: #F5F5F5;
        }

        ul::-webkit-scrollbar-thumb
        {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
          background-color: $pf_buttonBlue_base;
        } */
        & > .button{

          /* @include pfButton(100%, 30px, $pf_buttonBlue_base, $pf_buttonBlue_hover, $pf_buttonBlue_active); */
          @include absoluteCenter;
          @include flexRow;
          margin-top:20px;
          border-radius:0 0 5px 5px !important;
        }
      }
    }
  }

  .tooltip {
    position: relative !important;
    display: inline-block !important;
    z-index: 1;
    height: 35px;
  }

  .tooltip .tooltiptext {
    border: 1px solid $grisLinea;
    visibility: hidden;
    width: 160px;
    background-color: $gnAzulObscuro;
    color: #fff;
    text-align: left  ;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    bottom: 100%;
    left: 5px;
    margin-left: -60px;
    padding: 10px 15px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;

    & > span{
      color: $gnDorado;
    }
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

