#myProgress {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  height: 123px;
  color: #9B9B9B;
  font-family: 'Novecento';
  margin-left: 0%;
  padding-top: 10px;
  box-sizing: border-box;
}

#Prioridad1 {
  height: 123px;
  width: 45%;
  background-color: #AF3634;
  text-align: left;
  line-height: 19px;
  color: white;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  //tooltips
  position: relative;
  display: inline-block;
  font-size: 20px;
  border: 1px solid white;
  padding-left: 10px;
  padding-top: 6px;
}

#Prioridad2 {
  height: 123px;
  width: 30%;
  background-color: #EEB253;
  text-align: left;
  line-height: 19px;
  color: white;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  //tooltips
  position: relative;
  display: inline-block;
  font-size: 20px;
  border: 1px solid white;
  padding-left: 10px;
  padding-top: 6px;
}

#Prioridad3 {
  height: 123px;
  width: 30%;
  background-color: #63B257;
  text-align: left;
  line-height: 19px;
  color: white;
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  //tooltips
  position: relative;
  display: inline-block;
  font-size: 20px;
  border: 1px solid white;
  padding-left: 10px;
  padding-top: 6px;
}

p {
  font-size: 12px;
  color: white;
  margin-top: 1%;
}

h1 {
  font-size: 22px;
  color: #008895;
  font-family: 'Novecento';
}

h2 {
  font-size: 20px;
  color: white;
}

.tipoInspeccion {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.pedimento {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  padding: 3%;
  box-sizing: border-box;
}

.imgPedimento {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding: 3%;
  box-sizing: border-box;
}

.txtPedimento {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: stretch;
  padding: 3%;
  box-sizing: border-box;
}

.tipoTexto {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Novecento';
}

.datoTexto {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  font-size: 30px;
  font-family: 'Novecento';
}

//Test
.ordenDeCompra {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
  min-height: 121px;
}

.txtOC {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: stretch;
  box-sizing: border-box;
}

.tipoTextoOC {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 3%;
  box-sizing: border-box;
}

.datoTextoOC {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  font-size: 30px;
  font-family: 'Novecento';
  padding-left: 7%;
  box-sizing: border-box;
}

@media all and (min-height:770px) and (max-height: 880px) and (min-width: 1300px) and (max-width: 2571px) {
  h1{font-size: 13px};
  #Prioridad1{height: 100px;};
  #Prioridad2{height: 100px;};
  #Prioridad3{height: 100px;};
  p{font-size: 9px};
  h2{font-size: 11px};
  #myProgress{padding-top: 10px};
}
