<!-- <button type="button" class="btnControlPrincipal" onclick="document.getElementById('id01').style.display='block'">btn</button> -->

<div class="w3-container">

  <div id="id01" class="modal" #pop>
    <div class="modal-content">
      <header class="header">
        <h1> PROQUIFA NET  </h1>
      </header>

      <div class="contenido">
        <div class="datos">

          <div class="alerta">
            <img src="assets/Images/alerta.svg" alt="" class="alert"/>
          </div>

          <div class="alertaTxt">
            <p class="dato">{{alertaTxt}} </p>
          </div>
        </div>

      </div>

      <footer class="footer2" *ngIf="activarBoton">
        <a type="submit" class="btnOk" (click)="cerrar()" >
          <label> OK </label>
        </a>

      </footer>
    </div>
  </div>

</div>
