<div class="w3-container">

  <div id="id01" class="modal" #pop>
    <div class="modal-content">
      <header class="header">
        <h1> PROQUIFA NET  </h1>
      </header>

      <div class="contenido">
        <div class="datos">

          <div class="alerta">
            <img [src]="tipoImg" alt="" class="alert"/>
          </div>

          <div class="alertaTxt">
            <p class="dato">{{alertaTxt}}   <span *ngIf="folio !== undefined">{{folio}}</span></p>
          </div>
        </div>

      </div>

      <footer class="footer2" *ngIf="activarBoton">
        <a type="submit" class="btnOk" (click)="cerrar(false)" >
          <label> CANCELAR </label>
        </a>
        <a type="submit" class="btnOk" (click)="cerrar(true)" >
          <label> ACEPTAR </label>
        </a>
      </footer>
    </div>
  </div>

</div>
