.menu {
  width: 100%;
  display: flex;
  .filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14%;
    text-align: center;

    &:hover {
      cursor:pointer;
    }

    position: relative;
    &.selected {
      background-color: #E7F4F5;
      border-bottom: 3px solid #008895;
    }

    .filter-label {
      font-family: 'Novecento';
      color: #424242;
      padding-bottom: 8px;
    }

    .total-label{
      position: absolute;
      top: 3px;
      right: 5px;
      font-weight: bold;
      font-size: 11px;
      font-family: 'Novecento';
    }

    .total-value{
      position: absolute;
      top: 21%;
      right: 5px;
      color: #008895;
      font-weight: bold;
      font-size: 11px;
      font-family: 'Novecento';
    }
  }
}

.menu {
  .filter-item:focus {
   background: red;
  }
}

.filter-item.not-selected:hover, .filter-item:focus{
  background:#F3F9FA;
}

.dropbtn {
  color: white;
  padding: 16px 16px 8px 16px;
  font-size: 16px;
  border: none;
  width: 40px;
  height: 30px;
}


.dropbtn:focus {
  background: rebeccapurple;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #F3F9FA;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
left: 0;
}

.dropdown-content a {
  color: black;

  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  color:#1E8893;
  cursor: pointer;
}

.animationZoom {animation:animatezoom 0.2s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.aniamtionTop{position:absolute;animation:animatetop 0.3s}@keyframes animatetop{from{  top: 0;opacity:0} to{  top: 100%;opacity:1}}
.aniamtionTopitems{position:relative;animation:animatetop2 0.5s}@keyframes animatetop2{from{ top: -60px;opacity:0} to{  top: 0px;opacity:1}}
.dropdown a:hover {background-color: #ddd}

.show {display:block; max-height: 350px;}


@media (max-width: 1408px) and (max-height: 924px) {
  .menu {
    width: 100%;
    display: flex;
    .filter-item {
      font-size: 13px;
    }
  }
}
