<div class="inspeccionPorPrioridad">
    <h1>PRIORIDAD DE EMBALAJE</h1>
    <div id="myProgress">
        <div id="Prioridad1" [style.width]="porcentajeP1" *ngIf="mostrarP1">
            <h2>Prioridad 1</h2>
            <p><label>Por trabajar: </label>{{formatoPzaP1 | acFormatNumber}} <label>P· List</label></p>
            <p><label *ngIf="!existo">Tiempo Estimado de Trabajo: </label>{{TEIPrioridad1}}</p>
        </div>
        <div id="Prioridad2" [style.width]="porcentajeP2" *ngIf="mostrarP2">

            <div class="descripcionLargaP2" *ngIf="descripcionLargaP2">
                <h2>Prioridad 2</h2>
                <p><label>Por Inspeccionar: </label>{{formatoPzaP2 | acFormatNumber }} </p>
                <p><label>Tiempo Estimado de Inspección: </label>{{TEIPrioridad2}}</p>
            </div>

            <div class="descripcionCortaP2" *ngIf="descripcionCortaP2">
                <h2>P2</h2>
                <p><label>PI: </label>{{formatoPzaP2 | acFormatNumber }} <label>P· List</label> </p>
                <p><label>TEI: </label>{{TEIPrioridad2}}</p>
            </div>

        </div>

        <div id="Prioridad3" [style.width]="porcentajeP3" *ngIf="mostrarP3">

            <div class="descripcionLargaP3" *ngIf="descripcionLargaP3">
                <h2>Prioridad 3</h2>
                <p><label>Por Inspeccionar: </label>{{formatoPzaP3}} <label>P· List</label></p>
                <p><label>Tiempo Estimado de Inspección: </label>{{TEIPrioridad3}}</p>
            </div>

            <div class="descripcionCortaP3" *ngIf="descripcionCortaP3">
                <h2>P3</h2>
                <p><label>PI: </label>{{formatoPzaP3}} </p>
                <p><label>TEI: </label>{{TEIPrioridad3}}</p>
            </div>

        </div>
    </div>
</div>