<div>
  <div (click)="backMenu()">
    <img height="22px" src="assets/Images/gestion/consultas/facturacion/recurso_190.svg" alt="">
  </div>
  |
  <div>CONSULTA DE DOCUMENTOS</div>
</div>
<div>
  <div [ngClass]="classPanel">
    <div class="filtroHeader">
      <div class="abrir" (click)="openPanel()">
        <img *ngIf="hiddenClose" width="15px" src="assets/Images/gestion/consultas/facturacion/recurso_193.svg" alt="">
        <img *ngIf="!hiddenClose" width="15px" src="assets/Images/gestion/consultas/facturacion/recurso_188.svg" alt="">
      </div>
      <div *ngIf="hiddenClose">
        CERRAR
        <div class="cerrar" (click)="closePanel()">
          <img height="20px" width="20px" src="assets/Images/gestion/consultas/facturacion/recurso_189.svg" alt="">
        </div>
      </div>
    </div>

    <div class="filtros">
      <div>

      </div>
      <div>
        <div (click)="filtroAvanzada()" [style.background]="avanzada?'#008895':'#C2C3C9'">AVANZADA</div>
        <div (click)="filtroRapida()" [style.background]="!avanzada?'#008895':'#C2C3C9'">RÁPIDA</div>
      </div>

      <div *ngIf="avanzada" class="divAvanzada">
        <!--  Si  ya hay datos dentro del compenente se manda el < Gestion-filter/> con los datos
              Y la propiedad IsLoader como verdadera
            -->

        <div *ngIf="isThereData;else loader">
          <gestion-filter [ElementsDropList]="Elements" (valueFilter)="mostrarDatos($event)" [IsImage]="IsImage" [IsDate]="IsDate"
            [IsLoader]="isThereData" [Clear]="Clear" [istextbox]="istextbox" style="width: 100%"></gestion-filter>

        </div>

        <!--  Si  no hay datos dentro del compenente se manda el < Gestion-filter/> con solo
              una propiedad
              IsLoader como Falsa-->
        <ng-template #loader>
          <gestion-filter [IsLoader]="isThereData" [Clear]="Clear"></gestion-filter>
        </ng-template>

      </div>

      <div *ngIf="!avanzada" class="divRapida">
        <div>
          <pq-radio-button [widthTotal]="'90px'" [lstItems]="lstRadiosRapida" [disble]="true" [direction]="'row'" [imgSize]="'12px'"
            (emitItem)="radioRapida($event)" [width]="'15px'"></pq-radio-button>
        </div>
        <div [formGroup]="filtroForm">
          <span>{{filtroConsultaRapida}}</span>
          <input type="text" formControlName="filtroDato" name="filtroDato">
        </div>
        <div (click)="filtroRapido()">
          <img height="20px" src="assets/Images/visualizar.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="resultados" [style.width]="hiddenClose ? 'calc(100% - 321px)': 'calc(100% - 50px)'">
    <div>
      <div>
        RESULTADOS
      </div>
    </div>
    <div class="fechafactura">
      <div>
        <div [style.min-width]="'40px'">#</div>
        <div [style.min-width]="'130px'">Folio</div>
        <div [style.min-width]="'110px'">FO</div>
        <div [style.min-width]="'110px'">Tipo</div>
        <div [style.min-width]="'180px'">Empresa</div>
        <div [style.min-width]="'130px'">Destinatario</div>
        <div [style.min-width]="'150px'">Referencia</div>
        <div [style.min-width]="'110px'">Ingresó</div>
        <div [style.min-width]="'130px'">Inicio</div>
        <div [style.min-width]="'130px'"> Fin</div>
        <div [style.min-width]="'130px'"> C. Pago</div>
        <div [style.min-width]="'130px'"> Estado</div>
      </div>
      <div>
      <div *ngFor="let item of lstDocumentos; let i = index">
        <div [style.min-width]="'40px'">{{i +1}}</div>
        <div [style.min-width]="'130px'" class="normalVerde"> 
          <span  (click)="descargarPDF('http://201.161.12.60:51725/SAP/Doctos/'+item.folio+'.pdf')">{{item.folio}}</span>
        </div>
        <div [style.min-width]="'110px'"  *ngIf="item.forigen!=0">{{item.forigen}}</div>
        <div [style.min-width]="'110px'"  *ngIf="item.forigen==0">ND</div>
        <div [style.min-width]="'110px'">{{item.tipo}}</div>
        <div [style.min-width]="'180px'">{{item.nombreEmpresa}}</div>
        <div [style.min-width]="'130px'">{{item.rpor}}</div>
        <div [style.min-width]="'150px'">{{item.documentoCierre}}</div>
        <div [style.min-width]="'110px'">{{item.ingreso}}</div>
        <div [style.min-width]="'130px'">{{item.fecha | dateFormatSlash}}</div>
        <div [style.min-width]="'130px'">{{item.fechaProceso | dateFormatSlash}}</div>
        <div [style.min-width]="'130px'">{{item.cPago}}</div>
        <div [style.min-width]="'130px'"  class="normalVerde"  *ngIf="item.cerradoAbierto=='Cerrado (C/D)'" >
          <span  (click)="descargarPDF('http://201.161.12.60:51725/SAP/Cotizaciones/'+item.documentoCierre+'.pdf')">{{item.cerradoAbierto}}</span>
        </div>
        <div [style.min-width]="'130px'" *ngIf="item.cerradoAbierto!='Cerrado (C/D)'">{{item.cerradoAbierto}}</div>
        </div>
      </div>
    </div>
    <div class="total" *ngIf="lstDocumentos!= null">
      <p>Total:
        <span>{{lstDocumentos.length}}</span>
         <span>Documento<span *ngIf="lstDocumentos.length != 1">s</span>
          <span>Enviado<span *ngIf="lstDocumentos.length != 1">s</span>
          </span>
        </span>
      </p>
    </div>
  </div>
</div>
