@import "../../../../mixins.scss";
@import "../../../../colors.scss";

:host {
  @include flexRow;
  justify-content: center;
  width: calc(100% - 32px);
  div {
    @include flexRow;
    justify-content: center;
    width: 100%;

    .button {
      width: 200px;

      &.active {
        background-color: #437B8F;
        color: #fff;
        font-weight: bold;
        border-color: #437B8F;
      }
    }
  }
}
