<div id="popUp" class="popUp" *ngIf="popUpComprobante">
  <div class="fondo"></div>
  <div class="popContenido">
    <div class="popHeader">
      <span>PROQUIFA NET</span>
    </div>
    <div class="popContenido">
    <!--  <title>Bolsa de Tránsito</title>-->
      <div class="alerta">
      <img src="assets/Images/packinglist.svg" alt="" class="alert" />
      </div>
      <label>
       Se ha generado un nuevo Paking List
      </label>
    </div>
    <div class="dvBotones">
      <div class="dvBoton" (click)="cerrar()">
        <label>Aceptar</label>
      </div>
    </div>
  </div>
</div>

