/*Mesa de Trabajo*/
$gnAzulObscuro: #222E43;
$gnAzulMedio: #3369B1;
$gnAzulBajo: #3B8EDE;
$gnGrisRata: #818192;
$gnDorado: #E2C913;
$gnInactivo: #D5DEE2;

/* Background*/
$pqBlanco: #FFFFFF;
$gnAzulFondo: #ECF0F3;

/*Semaforización de Urgencia de Pendientes*/
$gnVerdeSemaforo: #06BC50;
$gnNaranjaSemaforo: #F7931E;
$gnRojoSemaforo: #C1272D;

$verdeBoton: #37B34A;
$grisLinea: #ECEEF0;

$gnHeadreTable: #B7C3CE ;

/*Proquifa*/
$pqVerdeProquifa: #1F6A80;
$pqNegro: #424242;
$pqGrisFooter: #E4E4E4;
$pqNegroTenue: #292929;

/*BotónPresionado*/
$pqBotonPresionado: #437B8F;

/*General*/
$pqFondoTarjeta: #363636;
$pqPanelTitulo: #008895 ;
$pqPanelContenido: rgba(0, 137, 149, 0.02);
