<div class="configuracionRutas">
  <header class="header">
    <img id="atras" src="./assets/Images/Configuracion/Rutas/Atras.svg"/>
    CONFIGURACIÓN DE RUTAS
  </header>
  <hr color="black" size=2 width="100%">

<section class="section">
  <table>
    <tr class="dias">
      <th> </th>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miércoles</th>
      <th>Jueves</th>
      <th>Viernes</th>
    </tr>

    <tr>
      <td class="lugar">
        <img id="ubicacion" src="./assets/Images/Configuracion/Rutas/ubicacion.svg"/>
        <label>Toluca</label>
      </td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
    </tr>

    <tr>
      <td class="lugar">
        <img id="ubicacion" src="./assets/Images/Configuracion/Rutas/ubicacion.svg"/>
        <label>Cuernavaca</label>
      </td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
    </tr>

    <tr>
      <td class="lugar">
        <img id="ubicacion" src="./assets/Images/Configuracion/Rutas/ubicacion.svg"/>
        <label> Puebla</label>
      </td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
    </tr>

    <tr>
      <td class="lugar">
        <img id="ubicacion" src="./assets/Images/Configuracion/Rutas/ubicacion.svg"/>
        <label>Norte</label>
      </td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
    </tr>

    <tr>
      <td class="lugar">
        <img id="ubicacion" src="./assets/Images/Configuracion/Rutas/ubicacion.svg"/>
        <label>Sur</label>
      </td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
      <td class="contenido"><pq-tarjeta-rutas></pq-tarjeta-rutas></td>
    </tr>
  </table>
</section>


 <hr color="black" size=1 width="100%">
<footer class="footer">
  <div class="EntregaFooter">
    <img id="EntregaFooter" src="./assets/Images/Configuracion/Rutas/entregaVerde.svg"/>
    Entrega
  </div>
    <div class="CobroFooter">
    <img id="CobroFooter" src="./assets/Images/Configuracion/Rutas/cobroVerde.svg"/>
    Cobro
  </div>
    <div class="RevisionFooter">
    <img id="RevisionFooter" src="./assets/Images/Configuracion/Rutas/revisionVerde.svg"/>
    Revisión
  </div>
  <div class="eEspecialFooter">
    <img id="eEspecialFooter" src="./assets/Images/Configuracion/Rutas/eEspecialVerde.svg"/>
    Entrega Especial
  </div>
  <div class="rMaterialFooter">
    <img id="rMaterialFooter" src="./assets/Images/Configuracion/Rutas/rMaterialVerde.svg"/>
    Recolección de material
  </div>
</footer>

</div>
