Respaldo de las gráficas antes echas 


<div class="padreG">

<div [ngStyle]="{'width':'90px'}"></div>

<div [ngStyle]="{'display':'flex', 'flex-direction':'column', 'width':'45%', 'height':'76%', 'padding-top': '92px'}">


<div id='doughnut1Div' [ngStyle]="{'width': '100%', 'height':'100%'}">

<label class="tituloGrafica">PRODUCTOS</label>

<!-- <div [ngStyle]="{'z-index':'2'}" >
<label>Total:</label>
</div> -->

<canvas id="doughnut1"></canvas>
</div>
</div>

<div style="width:260px"> </div>


<div [ngStyle]="{'display':'flex', 'flex-direction':'column', 'width':'24%', 'height':'70%', 'padding-top': '112px'}">

<div id='doughnut1Div2' [ngStyle]="{'width': '100%', 'height':'50%'}">

<label [ngStyle]="{'position': 'absolute', 'top': '-40px', 'right': '71px', 'left': '0px', 'margin': 'auto', 'width': '100px','font-size': '24px', 'font-weight': 'bold'}">PROVEEDORES</label>


<canvas id="doughnut2"></canvas>

</div>


<div id='doughnut1Div3' [ngStyle]="{'width': '100%', 'height':'50%', 'padding-top': '90px'}">

<label [ngStyle]="{'position': 'absolute', 'top': '41px', 'right': '71px', 'left': '0px', 'margin': 'auto', 'width': '100px','font-size': '24px', 'font-weight': 'bold'}">PRIORIDADES</label>


<canvas id="doughnut3"></canvas>

</div>
</div>

<div [ngStyle]="{'display':'flex', 'flex-direction':'column', 'align-items':'center', 'width':'15%', 'height':'81%', 'padding-top': '112px'}">

<div id='doughnut1Div4' [ngStyle]="{'width': '100%', 'height':'27%'}">
<label class="tituloGraficaChica">PRIORIDAD 1</label>

<canvas id="doughnut4"></canvas>
</div>


<div id='doughnut1Div5' [ngStyle]="{'width': '100%', 'height':'27%', 'padding-top': '50px'}">

<label [ngStyle]="{'position': 'absolute', 'top': '11px', 'right': '-7px', 'left': '0px', 'margin': 'auto', 'width': '100px','font-size': '15px', 'font-weight': 'bold'}">PRIORIDAD 2</label>

<canvas id="doughnut5"></canvas>
</div>


<div id='doughnut1Div6' [ngStyle]="{'width': '100%', 'height':'27%', 'padding-top': '50px'}">

<label [ngStyle]="{'position': 'absolute', 'top': '11px', 'right': '-7px', 'left': '0px', 'margin': 'auto', 'width': '100px','font-size': '15px', 'font-weight': 'bold'}">PRIORIDAD 3</label>

<canvas id="doughnut6"></canvas>
</div>

</div>



</div>