<div id="popUp" class="popUp" *ngIf="popUpGenerarEtiqueta" >
  <div class="fondo"></div>
  <div class="popContenido">
    <div class="popHeader">
      <span>PROQUIFA NET</span>
    </div>
    <div class="popContenido">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <label style="padding-top: 10px">
        Generando etiqueta
      </label>
    </div>
    <!--<div class="dvBotones">
      <div class="dvBoton" (click)="imprimirEtiqueta()">
        <label>Aceptar</label>
      </div>
    </div>-->
  </div>
</div>

<!--<div id="popUp" class="popUp" *ngIf="openPopImprimir">
  <div class="fondo"></div>
  <div class="popContenido">
    <div class="popHeader">
      <span>PROQUIFA NET</span>
    </div>
    <div class="popContenido">
      <label>Imprimir QR para </label>
      <label> colocar en Sobre de Documentos</label>
    </div>
    <div class="dvBotones" style="justify-content: center">
      <div class="dvBoton" (click)="cambiarPop()">
        Aceptar
      </div>
    </div>
  </div>
</div>-->
